/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bakcground-color: var(--color-dark);
  --main-color: var(--color-dark);
  --title-block-color: var(--color-dark);
  --main-text-color: var(--color-pink-2);
  --focus-color: var(--color-purple);
  --focus-shadow: var(--color-pink-1);
  --link-shadow: var(--color-pink-1);
  --nav-color: var(--color-pink-1);
  --decoration-color: var(--color-pink-1);
  --blocks-color: var(--color-pink-1);
  --title-color: var(--color-pink-1);
  --link-color: var(--color-pink-1);
  --background-img: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root .theme_dark {
    --bakcground-color: var(--color-dark);
    --main-color: var(--color-dark);
    --title-block-color: var(--color-dark);
    --main-text-color: var(--color-pink-2);
    --focus-color: var(--color-purple);
    --focus-shadow: var(--color-pink-1);
    --link-shadow: var(--color-pink-1);
    --nav-color: var(--color-pink-1);
    --decoration-color: var(--color-pink-1);
    --blocks-color: var(--color-pink-1);
    --title-color: var(--color-pink-1);
    --link-color: var(--color-pink-1);
    --border-color: var(--border-color-pink);
    --background-img: url(../images/cover-image-dark.png);
  }

  .page.theme_dark {
    background-color: var(--bakcground-color);
    background-image: var(--background-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header__theme-menu-button {
    background-color: transparent;
    color: var(--nav-color);
  }

  .header__theme-menu-button:active {
    border: 1px solid var(--nav-color);
    text-decoration: none;
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--border-color);
  }

  .header__theme-menu-button:focus {
    border-bottom: 1px solid var(--nav-color);
    text-decoration: none;
  }

  .no_focus {
    color: var(--focus-color);
    text-shadow: 3px 3px var(--focus-shadow);
  }

  .title_header {
    /*блок с текстом*/
    background-color: var(--blocks-color);
  }

  .title_text {
    /*текст в блоке с текстом*/
    color: var(--main-color);
  }

  .card_title_hard_to_concentrate {
    color: var(--title-color);
  }

  .pinK_back {
    background-color: var(--blocks-color);
    color: var(--title-block-color);
  }

  .white_only {
    color: var(--main-text-color);
  }

  button,
  a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    pointer-events: auto;
  }

  a {
    cursor: pointer;
    list-style: none;
    text-shadow: 2px 2px var(--blocks-color);
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
  }

  a:hover {
    border-bottom: 1px solid var(--main-text-color);
  }

  a:focus-visible {
    border: 1px solid var(--main-text-color);
  }

  .card_title_what_reduces_concentration {
    color: var(--title-color);
  }

  .pinK_back_thin {
    background-color: var(--blocks-color);
    color: var(--title-block-color);
  }

  .card_title_how_to_concentrate_group {
    color: var(--title-color);
  }

  .focus {
    color: var(--focus-color);
    text-shadow: 2px 2px var(--focus-shadow);
  }

  .theme_light .decorative_element::before {
    color: transparent;
  }

  .theme_light .decorative_element::after {
    background-color: transparent;
    box-shadow: 0 0 4px 2px transparent;
  }
}
