/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --bakcground-color: #fff1f7;
  --main-color: #353430;
  --title-block-color: #000028;
  --main-text-color: #353430;
  --focus-color: #ffc2e6;
  --focus-shadow: #ff0070;
  --link-shadow: #ff0070;
  --nav-color: #353430;
  --decoration-color: #353430;
  --blocks-color: #ff8dcb;
  --title-color: #353430;
  --link-color: #ff8dcb;
  --background-img: url(../images/cover-image-light.png);
}

@media screen and (prefers-color-scheme: light) {
  .page.theme_light {
    background-color: var(--bakcground-color);
    background-image: var(--background-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .header__theme-menu-button {
    background-color: transparent;
    color: var(--nav-color);
  }

  .no_focus {
    color: var(--focus-color);
    text-shadow: 3px 3px var(--focus-shadow);
  }

  .title_header {
    /*блок с текстом*/
    background-color: var(--blocks-color);
  }

  .title_text {
    /*текст в блоке с текстом*/
    color: var(--main-color);
  }

  .card_title_hard_to_concentrate {
    color: var(--title-color);
  }

  .pinK_back {
    background-color: var(--blocks-color);
    color: var(--title-block-color);
  }

  .white_only {
    color: var(--main-text-color);
  }

  button,
  a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    pointer-events: auto;
  }

  a {
    cursor: pointer;
    list-style: none;
    text-shadow: 2px 2px var(--link-shadow);
    text-decoration: none;
    outline: none;
    transition: all 0.3s ease;
  }

  a:hover {
    border-bottom: 1px solid var(--main-text-color);
  }

  a:focus-visible {
    border: 1px solid var(--main-text-color);
  }

  
  button:focus {
    border-bottom: 1px solid var(--nav-color);
  }

  .card_title_what_reduces_concentration {
    color: var(--title-color);
  }

  .pinK_back_thin {
    background-color: var(--blocks-color);
    color: var(--title-block-color);
  }

  .card_title_how_to_concentrate_group {
    color: var(--title-color);
  }

  .focus {
    color: var(--focus-color);
    text-shadow: 2px 2px var(--focus-shadow);
  }
  
  .theme_auto .decorative_element::before {
    color: transparent;
  }

  .theme_auto .decorative_element::after {
    background-color: transparent;
    box-shadow: 0 0 4px 2px transparent;
  }

  .theme_light .decorative_element::before {
    color: transparent;
  }

  .theme_light .decorative_element::after {
    background-color: transparent;
    box-shadow: 0 0 4px 2px transparent;
  }
}
