/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {

  --background-color: var(--color-light-theme);
  --main-color: var(--color-grey);
  --title-block-color: var(--color-dark);
  --main-text-color: var(--color-grey);
  --focus-color: var(--color-pink-light);
  --focus-shadow:  var(--color-pink-bright);
  --link-shadow:  var(--color-pink-bright);
  --nav-color: var(--color-grey);
  --decoration-color: var(--color-grey);
  --blocks-color: var(--color-pink-medium);
  --title-color: var(--color-grey);
  --background-img: url(../images/cover-image-light.png);
}



@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-light-theme);
    --main-color: var(--color-grey);
    --title-block-color: var(--color-dark);
    --main-text-color: var(--color-grey);
    --focus-color: var(--color-pink-light);
    --focus-shadow:  var(--color-pink-bright);
    --link-shadow:  var(--color-pink-medium);
    --nav-color: var(--color-grey);
    --decoration-color: var(--color-grey);
    --blocks-color: var(--color-pink-medium);
    --title-color: var(--color-grey);
    --border-color:var(--border-color-black);
    --background-img: url(../images/cover-image-light.png);
  }
  
  .theme_auto .decorative_element::before {
    color: transparent;
  }

  .theme_auto .decorative_element::after {
    background-color: transparent;
    box-shadow: 0 0 4px 2px transparent;
  }

  .theme_light .decorative_element::before {
    color: transparent;
  }

  .theme_light .decorative_element::after {
    background-color: transparent;
    box-shadow: 0 0 4px 2px transparent;
  }
}
