/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono";
  --big-title-size: 157px;
  --medium-title-size: 130px;
  --small-title-size: 120px;
  --max-inline-size-title-medium-vw: 236px;
  --inset-block-start-decorative-element-medium-vw: -176px;
  --grid-row: 1/4;
  --bakcground-color: #000028;
  --main-color: #000028;
  --title-block-color: #000028;
  --main-text-color: #f1b2ce;
  --focus-color: #db00ff;
  --focus-shadow: #ff0070;
  --link-shadow: #ff0070;
  --nav-color: #ff0070;
  --decoration-color: #ff0070;
  --blocks-color: #ff0070;
  --title-color: #ff0070;
  --link-color: #ff0070;
  --background-img: url(../images/cover-image-dark.png);
}
