/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex mono";
  --big-title-size: 157px;
  --medium-title-size: 130px;
  --small-title-size: 120px;
  --max-inline-size-title-medium-vw: 236px;
  --grid-row: 1/4;


  --color-dark: #000028;

  --color-pink-bright:#ff0070 ;
  --color-pink-light:#f1b2ce;
  --color-purple:#db00ff;

  --color-light-theme:#fff1f7;
  --color-grey:#353430;
  --color-pink-medium:#ff8dcb;
  --border-color-pink:rgba(255, 0, 112, 0.4);
  --border-color-black:rgba(50, 49, 45, 0.4);
  --text-shadow-light:#ff8dcb;
  



  --bakcground-color: var(--color-dark);
  --main-color: var(--color-dark);
  --title-block-color: var(--color-dark);
  --main-text-color: var(--color-pink-light);
  --focus-color: var(--color-purple);
  --focus-shadow: var( --color-pink-bright);
  --link-shadow: var( --color-pink-bright);
  --nav-color: var( --color-pink-bright);
  --decoration-color: var( --color-pink-bright);
  --blocks-color: var( --color-pink-bright);
  --title-color: var( --color-pink-bright);
  --link-color: var( --color-pink-bright);
  --border-color:var(--border-color-pink);
  --border-color-grey:var(--border-color-black);
  --border-color-light-pink:var(--border-color-pink);
  --text-shadow-light-theme:var(--text-shadow-light);
  --background-img: url(../images/cover-image-dark.png);


}
